@import 'reset.css';
/*Fonts used: Open Sans + Raleway*/
@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open Sans_Italic;
    src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: Open Sans_Light;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face{
    font-family: Open Sans_LightItalic;
    src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf);
}
@font-face{
    font-family: Open Sans_Semibold;
    src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: Open Sans_Bold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway_Thin;
    src: url(../fonts/Raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family: Raleway_Light;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway_Bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);    
}

@font-face{
    font-family: Raleway_Black;
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}

html{
    font-family: Raleway_Light;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}

.clear{
    clear:both;
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

header{
    height: 90vh;
}

nav{
    height: 12vh;
    width: 100%;
    position: fixed;
}

nav img{
    margin: 2rem;
    width: 3rem;
    height: 3rem;
}

nav ul{
    float: right;
    margin: 3rem 2rem;
}

nav ul li{
    display: inline-block;
    margin: .5rem;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

nav.shrink{
/*    background-color: #29308a;*/
    background: -moz-linear-gradient(-45deg, #29308a 0%, #8750a1 81%, #8e6dc6 100%, #9f88d8 100%, #a72ad8 100%, #ba91c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #29308a 0%,#8750a1 81%,#8e6dc6 100%,#9f88d8 100%,#a72ad8 100%,#ba91c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #29308a 0%,#8750a1 81%,#8e6dc6 100%,#9f88d8 100%,#a72ad8 100%,#ba91c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0 0 66px 4px rgba(152,123,123,0.18);
    opacity: 0.9;
    height: 12vh;
    width: 100%;
    padding-top: 0px;
    position: fixed;
    z-index: 20;
    transition: all 1s;
    transition-duration: 1s;
    transition-timing-function: ease;
}

div.landing span{
    content: " ";
    display: block;
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    background: #29308a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #29308a 0%, #8750a1 81%, #8e6dc6 100%, #9f88d8 100%, #a72ad8 100%, #ba91c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #29308a 0%,#8750a1 81%,#8e6dc6 100%,#9f88d8 100%,#a72ad8 100%,#ba91c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #29308a 0%,#8750a1 81%,#8e6dc6 100%,#9f88d8 100%,#a72ad8 100%,#ba91c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transform: skewY(-7deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -1;
}

/*style three small balls rotating planets*/
div.small {
  position:relative;
  top: 28%;
  left: 10%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  z-index: 1;
}

/*style and animate three small balls in the head*/
div.ball-head{
    width: .5rem;
    height: .5rem;
    border-radius: 1rem;
    display: inline-block;
    animation-duration: 1800ms;
    animation-timing-function: ease;  
}

@keyframes ball-design{
    0% {opacity: 0; margin-left: 1rem;}
    100% {opacity: 1; margin-left: 0rem;}
}
@keyframes ball-code{
    0% {opacity: 0; margin-left: 2rem;}
    100% {opacity: 1; margin-left: 0rem;}
}
@keyframes ball-research{
    0% {opacity: 0; margin-left: 3rem;}
    100% {opacity: 1; margin-left: 0rem;}
}

div#ball-design{
    background-color: #f76c6c;
     animation-name: ball-design;
}

div#ball-code{
    background-color: #a8d0e6;
    animation-name: ball-code;
}

div#ball-research{
    background-color: #ffe985;
    animation-name: ball-research;
}

div#green{
    background-color: #ffe985;
}

div#blue{
    background-color: #a8d0e6;
}

div#yellow{
    background-color: #f76c6c;
}

/*adjust the position of the orbit*/

svg{
    position: absolute;
    width: 40%;
    left: 12vw;
    top: 33vh;
    opacity: 0.4;
    z-index: 1;
}

div.landing{
    padding: 5vh;
    height: 80vh;
}

div.landing img{
    position: relative;
    width: 50%;
    height: auto;
    margin: 11vh 2rem 3rem 5rem;
    float: left;
    z-index: 0;
}

@keyframes h1{
    0% {opacity: 0; margin-left: 5rem;}
    100% {opacity: 1; margin-left: 8rem;}
}

header div.landing h1{
    font-size: 2.5rem;
    margin: 40vh 1rem 1rem 8rem;
    display: inline-block;
    animation-name: h1;
    animation-duration: 2400ms;
    animation-timing-function: ease; 
    color:#FFF;
}

@keyframes h2{
    0% {opacity: 0; margin-left: 11rem;}
    100% {opacity: 1; margin-left: 8rem;}
}

header div.landing h2{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 8rem;
    float: left;
    animation-name: h2;
    animation-duration: 2400ms;
    animation-timing-function: ease;
    color:#CCB9FD;

}

section.projects h2{
    text-align: center;
    padding: 3rem;
    font-size: 1.5rem;
    color:#9f88d8;
    font-family: Raleway_Bold;
    z-index: 1;
    margin-top: 12%;
}

section.projects{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

div.project-row{
    width: 100%;
    background-color: #fff;
    text-align: center;
}

figure.project{
    width: 25%;
    height: 30vh;
    margin: 2rem;
    display: inline-block;
    color: #2c2c2c;
    background: #fff;
    box-shadow: 0 0 66px 4px rgba(152,123,123,0.18);
    border-radius: 0.5rem;
}

figure.project img{
    width: 150px;
    height: auto;
    margin-top: 2rem;
}

figure.project h3{
    margin: 2rem 2rem 1rem 2rem;
}

figure div{
    transition: 300ms linear all;
}

figure:hover div{
    transform: scale(1.1,1.1);
    transition: 300ms linear all;   
}

section#skills{
    height: 65vh;
    color:#374785;
/*
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    content: " ";
    display: block;
    position: relative;
*/
/*    background: linear-gradient(to bottom, #e1bbdf 0%, #688ee6 100%);*/
/*
    left: 50%;
    width: 190vw;
    height: 100vw;
    border-radius: 100%;
*/
/*
    transform: translateX(-50%);
    transform: skewY(-7deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
*/
}

section#skills h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
/*    color:#8750a1;*/
    font-family: Raleway_Bold;
}

section#skills h3{
    text-align: center;
    font-size: 1.2rem;
}

div#skills-sub{
    width: 70%;
    margin: 4rem auto;
}

div.skill{
    width: 33.333%;
    float: left;
}

div.skill div{
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

/*style&animate the three balls*/
div#research{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #ffe985;
    margin: 0 auto;
}

div#design{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #f76c6c;
    margin: 0 auto;
}

div#coding{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #abd0e6;
    margin: 0 auto;
}

.skillball{
    animation-name: skillball;
    animation-duration: 2000ms;
}

@keyframes skillball{
    0% {opacity: 0; margin-top: -8rem;}
    100% {opacity: 1; margin-top: 0rem;}
}

div.skill h3{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

/*style&animate the sidebar of each skill*/

div#research-side{
    height: 15rem;
    width: 0.2rem;
    background-color: #ffe985;
    float: left;
    display: inline-block;
}

div#design-side{
    height: 19rem;
    width: 0.2rem;
    background-color: #f76c6c;
    float: left;
    display: inline-block;
}

div#coding-side{
    height: 5rem;
    width: 0.2rem;
    background-color: #abd0e6;
    float: left;
    display: inline-block;
}

.sidebar-research{
    animation-name: sidebar-research;
    animation-duration: 2000ms;
}

.sidebar-design{
    animation-name: sidebar-design;
    animation-duration: 2000ms;
}

.sidebar-coding{
    animation-name: sidebar-coding;
    animation-duration: 2000ms;
}

@keyframes sidebar-research{
    0% {opacity: 0; height: 0;}
    100% {opacity: 1; height: 15rem;}
}

@keyframes sidebar-design{
    0% {opacity: 0; height: 0;}
    100% {opacity: 1; height: 19rem;}
}

@keyframes sidebar-coding{
    0% {opacity: 0; height: 0;}
    100% {opacity: 1; height: 5rem;}
}

div.skill div ul li{
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-left: 1.2rem;
}

footer{
    bottom: 0px;
    color: #797878;
    background-color: #b0b0b0;
    padding: 7rem 5rem 1rem 5rem;
    background-image: url(../img/ground.png);
    background-repeat: no-repeat;
    background-position: center;
}

footer p{
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem;
}

p#quote{
    margin-bottom: 1rem;
    font-size: 1rem;
}

/*------------PROJECTS---------*/

div.projects{
    font-family: Open Sans_Light;
    color: #000;
    line-height: 2.5rem;
}

header.project{
    height: 90vh;
    background: #6f55de;
}

header.project nav{
    position: relative;
    margin-bottom: 5%;
}

header.project nav ul li a{
    
    text-decoration: none;
}

div.project-head h1{
    font-size: 2.1rem;
    margin: 20% 10% 0 0;
    color: #AA98F7;
}

div.project-head h2{
    font-size: 2.85rem;
    line-height: 5rem;
    color: #fff;
}

h3.type{
    font-size: 1.5rem;
    color: #fff;
    line-height: 2.5rem;
    color: #AA98F7;
}

div.process{
    margin-top: 3%;
}

.processNote{
    color:#ccc;
}

span.strong{
    font-family: Open Sans_Semibold;
}

p{
    margin: 8%;
}

p.emphasis{
    font-family: Open Sans_Italic;
    text-align: center;
}

p.callout{
    text-align: center;
}

div.person{
    text-align: center;
}

img.classStar-thumbnail{
    height: 80px;
}

p.quotes{
    font-family: Open Sans_LightItalic;
}

h3.feature{
    margin-top: 15%;
    line-height: 3.5rem;
}

div.feature{
    margin-top: 15%;
}

@media screen and (max-width: 800px){
    
    header{
    height: 90vh;
}
    
    div.project-head h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    
    div.project-head h1{
        margin-top: 0;
    }
    
    h3.feature{
    line-height: 2rem;
    font-size: 1.5rem;
    }

    div.feature{
    margin-top: 20%;
    }
}

/*project 2*/
div#project2-head img{
    float: left;
    margin-top: 40vh;
    margin-left: 20vh;

}

div#project2-head h1{
    display: inline-block;
    margin-top: 40vh;
    margin-left: 30vh;
    font-size: 2.5rem;
}

div#project2-head p{
    float: left;
    display: inline;
    margin-left: 30vh;
    margin-top: 10vh;
    font-size: 1.2rem;
}


div#project2 {
    padding: 5rem 10rem;
    width: auto;
}

div#project2 p {
    color: #1d1f21;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

div#project2 img{
    width: 50%;
    height: auto;
    margin: 2rem auto;
    display: block;
}

/*project 3*/
div#project3-head img{
    float: left;
    margin-top: 40vh;
    margin-left: 20vh;

}

div#project3-head h1{
    display: inline-block;
    margin-top: 40vh;
    margin-left: 30vh;
    font-size: 2.5rem;
}

div#project3-head p{
    float: left;
    display: inline;
    margin-left: 30vh;
    margin-top: 10vh;
    font-size: 1.2rem;
}


div#project3 {
    padding: 5rem 10rem;
    width: auto;
}

div#project3 p {
    color: #1d1f21;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

div#project3 img{
    width: 50%;
    height: auto;
    margin: 2rem auto;
    display: block;
}

/*playground*/
div#playground-head img{
    float: left;
    margin-top: 40vh;
    margin-left: 20vh;

}

div#playground-head h1{
    display: inline-block;
    margin-top: 40vh;
    margin-left: 30vh;
    font-size: 2.5rem;
}

div#playground-head p{
    float: left;
    display: inline;
    margin-left: 30vh;
    margin-top: 10vh;
    font-size: 1.2rem;
}

div#playground {
    padding: 5rem 10rem;
    width: auto;
}

div#playground p {
    color: #1d1f21;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

div#playground img{
    width: 50%;
    height: auto;
    margin: 2rem auto;
    display: block;
}

/*playground*/
div#about-head img{
    float: left;
    margin-top: 30vh;
    margin-left: 20vh;

}

div#about-head h1{
    display: inline-block;
    margin-top: 40vh;
    margin-left: 30vh;
    font-size: 2.5rem;
}

div#about-head p{
    float: left;
    display: inline;
    margin-left: 30vh;
    margin-top: 5vh;
    font-size: 1.2rem;
}

div#about {
    padding: 5rem 10rem;
    width: auto;
}

div#about p {
    color: #1d1f21;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    float: left;
    width: 40%;
    margin-left: 7%;
}

div#about img{
    width: 50%;
    height: auto;
    margin: 2rem auto;
    display: block;
    float: left;
}