@import 'reset.css';
/*Fonts used: Open Sans + Raleway*/
@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open Sans_Italic;
    src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: Open Sans_Light;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face{
    font-family: Open Sans_LightItalic;
    src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf);
}
@font-face{
    font-family: Open Sans_Semibold;
    src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: Open Sans_Bold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway_Thin;
    src: url(../fonts/Raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family: Raleway_Light;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway_Bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);    
}

@font-face{
    font-family: Raleway_Black;
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}

html{
    font-family: Raleway-Thin;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}

.clear{
    clear:both;
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.invisible{
    display: none;
}

header{
    height: 10%;
    padding: 2%;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header.shrink{
    background: -moz-linear-gradient(-45deg, #29308a 0%, #8750a1 81%, #8e6dc6 100%, #9f88d8 100%, #a72ad8 100%, #ba91c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #29308a 0%,#8750a1 81%,#8e6dc6 100%,#9f88d8 100%,#a72ad8 100%,#ba91c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #29308a 0%,#8750a1 81%,#8e6dc6 100%,#9f88d8 100%,#a72ad8 100%,#ba91c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0 0 66px 4px rgba(152,123,123,0.18);
    opacity: 0.9;
    transition: all 1s;
    transition-duration: 1s;
    transition-timing-function: ease;
}

img#logo{
    width: 50px;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    margin: .5rem;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: Raleway_Light;
    transition: 0.1s ease-in all;
    position: relative;
    padding-bottom: 0.5rem;
}

nav ul li a:visited{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

nav ul li a:after{
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 40%;
    right: 40%;
    width: 20%;
    border-bottom: 0.2rem solid #f4f4f4;
    transition: all ease-in 0.2s;
}

header nav ul li a:hover:after{
    color: #fff;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: all ease-in 0.3s;
}

div#hero{
    height: 850px;
    background: url(../img/landing.png) no-repeat;
    background-size: 110%;
}

div#landing{
    padding-top: 30vh;
}

svg{
    position: absolute;
    margin-top: 10%;
}

div.small {
  position:absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  z-index: 1;
  margin-top: 12%;
  margin-left: 5%;
}

div#green{
    background-color: #ffe985;
}

div#blue{
    background-color: #a8d0e6;
}

div#yellow{
    background-color: #f76c6c;
}

div#planet{
    margin-left: 5%;
}

div#landingtext{
    margin: 10% 0 0 10%;
}

@keyframes h1{
    0% {opacity: 0; margin-left: -5rem;}
    100% {opacity: 1; margin-left: 0;}
}

div#landingtext h1{
    font-size: 3rem;
    display: inline-block;
    animation-name: h1;
    animation-duration: 2400ms;
    animation-timing-function: ease; 
    color:#FFF;
    font-family: Raleway_Light;
}

@keyframes h2{
    0% {opacity: 0; margin-left: 11rem;}
    100% {opacity: 1; margin-left: 0;}
}

div#landingtext h2{
    font-size: 1.8rem;
    display: inline-block;
    float: left;
    animation-name: h2;
    animation-duration: 2400ms;
    animation-timing-function: ease;
    color:#CCB9FD;
    font-family: Raleway_Light;
}

div.projects{
    font-family: Raleway;
    background: #fff;
    box-shadow: 0 0 66px 4px rgba(152,123,123,0.18);
    border-radius: 0.5rem;
    margin: 0 2% 3% 2%;
    float: none;
    display: inline-block;
    animation-duration: 1.5s;
}

#project1{
    animation-delay: 0.2s;
    background: #EC4D47;
}

#project2{
    animation-delay: 0.3s;
}

#project3{
    animation-delay: 0.4s;
}

#project4{
    animation-delay: 0.7s;
}

#project5{
    animation-delay: 0.8s;
}

#project6{
    animation-delay: 0.9s;
}

div#project-wrap div h3{
    font-family: Raleway;
    margin-bottom: 5%;
    color: #a0a0a0;
}

div#skill-wrap h3{
    font-family: Raleway;
    margin-bottom: 5%;
    color: #9e724e;
}

div#soils{
    margin-top: 10%;
}

.soil{
    content: " ";
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
/*    top: 100px;*/
    left: 0;
}

#soil1{
    transform: skewY(-8deg);
    background: #9e724e;
    z-index: -10;
}

#soil2{
    transform: skewY(-3deg);
    background: #774e33;
    z-index: -2;
    animation-delay: 0.5s;
}

#soil3{
    transform: skewY(8deg);
    background: #d1c5b8;
    z-index: -20;
    animation-delay: 1s;
}

div.trunk{
    height: 400px;
    background: #774e33;
    float: none;
    display: inline-block;
    box-shadow: 0 0 66px 4px rgba(99,62,41,0.58);
    margin: 8% 2% 3% 2%;
    vertical-align: text-top;
    color: #d1c5b8;
    font-family: Raleway_Thin;
    border-radius: 1rem;
    animation-duration: 1.5s;
}

div.trunk h4{
    font-family: Raleway;
    margin-bottom: 10%;
/*    color: #9e724e;*/
    color: #d1c5b8;
}

div.trunk ul li{
    color: #c99771;
    margin-bottom: 5%;
}

#trunk1{
    height: 300px;
    animation-delay: 0.2s;
}

#trunk2{
    height: 370px;
    animation-delay: 0.3s;
}

#trunk3{
    height: 200px;
    animation-delay: 0.4s;
}

footer{
    padding-top: 15%;
    padding-bottom: 2%;
}

footer div{
    position: relative;
}

footer div p{
    font-family: Raleway;
    color: #633e29;
}

p#quote{
    margin-bottom: 2%
}

div#social{
    float: none;
    display: inline-block;
    margin-bottom: 2%;
}

div#social img{
    width: 30px;
    margin: 0 0.5rem 0 0.5rem;
}


/***************************style project pages********************/
div.subpages{
    font-family: Open Sans_Light; 
    font-size: 14px;
}

div.subpages p{
    line-height: 2.7rem;
    font-size: 16px;
}

div.projects-landing{
    height: 100%;
}

div#classStar{
    background: #EC4D47;
}

div.projects-landing div{
    margin-top: 10%;
    animation-duration: 1.2s;
    transition: linear;
}

div.projects-landing div div{
    margin-left: 5%;
}

div.projects-landing div div h1{
    font-size: 2.3rem;
    margin-bottom: 0;
}

div.projects-landing div div h2{
    font-size: 3rem;
    color: #fff;
    line-height: 5rem;
    margin-top: 0;
}

div.projects-landing div div h3{
    font-size: 1.6rem;
    line-height: 2.3rem;
}

div#classStar div div h1{
    color: #F2A19E;
}

div#classStar div div h3{
    color: #fff;
}

div.overview{
    margin: 23% auto;
    line-height: 3.8rem;
}

div.team{
    animation-delay: 0.3s;
}

div.overview p{
    font-size: 2.5rem;
    line-height: 3.8rem;
}

div.overview span{
    font-family: Open Sans_SemiBold;
}

h3.processNote{
    color:#8750A1;
    opacity: 0.5;
    font-size: 2.2rem;
    font-family: Open Sans_SemiBold;
}

div.process{
    margin: 2% auto;
}

div.process div{
    margin: 3% auto;
}

span.strong{
    font-family: Open Sans_SemiBold;
}

img.classStar-thumbnail{
    width: 80px;
    height: 120px;
}

.emphasis{
    font-family: Open Sans_Italic;
}

.quotes{
    font-style: italic;
}

h3.feature{
    margin-top: 10%;
    line-height: 3.5rem;
}

#guerrilla{
    font-size: 2rem;
    font-family: Open Sans_Italic;
    margin: 2rem 0;
    color: #9F88D8;
}

/********************************Responsive Design***************************************************/

@media (min-width: 768px) and (max-width: 992px){
    
    div#hero{
        height: 600px;
        background-size: 130%;
    }
    
    img#logo{
        width: 40px;
    }
    
    div#hero header div div{
        width: 50%;
    }
    
    div#planet{
        margin-left: 0;
        width: 50%;
        float: left;
    }
    
    div#planet img{
        width: 120%;
    }
    
    div#landingtext{
        width: 40%;
        float: left;
        margin-top: auto;
    }
    
    div#landingtext h1{
        font-size: 2.5rem;
    }
    
    div#landingtext h2{
        font-size: 1.5rem;
    }
    
    footer{
        padding-top: 25%; 
    }
}

@media (max-width: 768px){
    
    div#hero{
        height: 410px;
        background-size: 130%;
    }
    
    img#logo{
        width: 40px;
    }
    
    div#hero header div div{
        width: 10%;
    }
    
    div#hero header div nav{
        width: 100%;
        margin: 0;
    }
    
    div#landing{
        padding-top: 15vh;
    }
    
    div#planet{
        margin-left: 0;
        width: 50%;
        float: left;
    }
    
    div#planet img{
        width: 120%;
    }
    
    div#landingtext{
        width: 40%;
        float: left;
        margin-top: auto;
    }
    
    div#landingtext h1{
        font-size: 2rem;
    }
    
    div#landingtext h2{
        font-size: 1rem;
    }
    
    .soil{
        height: 60%;
    }
    
    div#trunk1{
        height: 350px;
    }
    
    footer{
        padding-top: 25%;
    }
    
    /*subpages*/
    div.projects-landing div div h1{
    font-size: 1.5rem;
    margin-bottom: 0;
    }

    div.projects-landing div div h2{
    font-size: 2rem;
    color: #fff;
    line-height: 3rem;
    margin-top: 0;
    }
    
    div.projects-landing div div h3{
    font-size: 1.2rem;
    line-height: 2rem;
    }
    
    div.overview p{
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 5%;
    }
    
    .feature{
        font-size: 2rem;
        line-height: 3rem;
    }

}

@media (min-width:320px) and (max-width: 468px){
    div#hero{
        height: 410px;
        background-size: 170%;
    }
    
    img#logo{
        width: 30px;
    }
    
    div#hero header div div{
        width: 5%;
        float: left;
    }
    
    div#hero header div nav{
        width: 90%;
        margin-left: 2rem;
    }
    
    nav ul li{
        margin: 0.5rem;
        font-size: 1.2rem;
    }
    
    div#landing{
        padding-top: 15vh;
    }
    
    div#planet{
        margin-left: 0;
        width: 40%;
        float: left;
    }
    
    div#planet img{
        width: 140%;
    }
    
    div#landingtext{
        width: 50%;
        float: left;
        margin-top: auto;
    }
    
    div#landingtext h1{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    
    div#landingtext h2{
        font-size: 1rem;
        margin: 0;
    }
    
    #project-wrap div h3{
        font-size: 1.5rem; 
    }
    
    #skill-wrap div h3{
        font-size: 1.5rem;
    }
    
    .soil{
        height: 60%;
    }
    
    div#trunk1{
        height: 390px;
    }
    
    footer{
        padding-top: 25%;
    }
}

